<%- include('partials/header') %>

<div class="background"></div>
<div class="platform">
  <i class="fas fa-lock fa-4x"></i>
  <h1 class="display-3 top-buffer">Secrets</h1>
  <p class="open-sans lead">Don't. Tell. Anyone.</p>
  <hr>
  <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>

<%- include('partials/footer') %>
