<%- include('partials/header') %>
<div class="background-clearest"></div>

<div class="container secrets-platform">
  <h1 class="display-3"> Secrets </h1>
  <i class="fas fa-lock-open fa-2x"></i>
  <hr>

  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>
<div class="secret-box container">
  <div class="row">
    <% const reverseUsersSecrets = usersSecrets.reverse() %>
    <% reverseUsersSecrets.forEach(function(user){ %>
      <% const reverseSecrets = user.secrets.reverse() %>
      <% reverseSecrets.forEach(function(secret){ %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="secret-text">
        <h1>Don't tell anyone...</h1>
        <p class="open-sans">"<%=secret.secret%>"</p>
      </div>
    </div>
      <%  }); %>
    <%  }); %>

  </div>
</div>







<%- include('partials/footer') %>
